.box{
    width: 50vw;
    background-image: url('/bg-img.png') ;
    background-size:cover; 
    background-repeat: no-repeat;
    background-color: rgb(95, 41, 146);  margin: 1rem;
    padding: 0;
  right: 0;
  top: 0;
  margin-right: 1rem;
    
  }
  
  .fle
  {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 1rem;
  
  }
  .txt
  {
   font-weight: 700;
   align-self:flex-start;
  }
  .info{
      display: flex;
      flex-direction: column;
      width: 50vw;
      gap: 0.5rem;
      margin-top: 10%;
      margin-left:8% ;
   
      
     
     
    
  }
    .info input {
      width: 20rem;
      height: 2.5rem;
      font-size: 20px;
      padding-left: 10vw;
      align-self: flex-start;
      border-radius: 8px;
      border: 1px solid rgb(186, 187, 188);
    }
    .btnregister{
       justify-self: center;
       align-items: center;
       height: 3rem;
       /* padding: 1rem; */
       width:20rem;
       margin-top: 1rem;
       background-color:  rgb(114, 50, 218);
       font-size:medium;
       border-radius: 8px;
       border: 1px solid rgb(186, 187, 188);
       align-self: flex-start;
       color: white;
       
    }
    .btn:hover{
      background-color:  rgb(140, 93, 216);
    }
    h1{
      align-self: flex-start;
    }
  