 .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
   
  }
  .card-item {
    width: 20rem;
    height: 10rem;
    margin: 2rem;
    background-color:white ;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    border-radius: 20px;
    color: #526b69;
    
  }
  .text{
    font-size: larger;
    font-weight: 600;
  
  }
  .btnsnippets
  {
    height:3rem;
    border-radius: 10px;
    width:16rem;
    background-color: rgb(121, 53, 230);
     

  }
 .parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  background-image: url('/bg2.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
 }
 .btnsnippets:hover{
  background-color: rgb(140, 93, 216);
}
 
 
   
  
  
  